@charset "UTF-8";

:root {
    --marrom: #6F4E37;
    --bege: #D9BF77;
    --verde: #708238;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bege);
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-color: var(--marrom);
    height: 100px;
}

.logo {
    display: flex;

    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.nav-list {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 20px;
    margin-right: 30px;
}

img {
    width: 200px;
}