@charset "UTF-8";

:root {
    --marrom: #6F4E37;
    --bege: #D9BF77;
    --verde: #708238;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bege);
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-color: var(--marrom);
    height: 100px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.418);

    display: flex;
    align-items: center;
    padding: 0 30px; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.205);
    justify-content: space-between;
}

.logo {
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.inicio {
    display: flex;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.212);
    margin-bottom: 15px;

    height: 200px;
    background-image: url(imagens/fundo03.webp);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.301);

    justify-content: center;
    align-items: center;
    
    font-size: 2.2em;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

.inicio > h1 {
    background-color: transparent;
    backdrop-filter: blur(1px);
    padding: 0px 10px;
    border-radius: 50px;
    border: 1px solid white;
}

.sobre {
    text-align: center;
    color: white;
    background-color: #6F4E37;
    border-radius: 10px;
    width: 600px;
    height: 290px;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.247);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.288);
}

.sobre > h1 {
    padding-top: 13px;
}

.sobre > p {
    padding: 0px 20px;
    margin-top: 20px;
    line-height: 1.8em;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
}

.card {
    position: relative;
    width: 250px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    transition: 1s;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.192);
}

.card img {
  width: 100%;
  display: block;
}

.card-text {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  text-align: center;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.479);
}

footer {
    background-color: #6F4E37;
    color: white;
    text-align: center;
    height: 150px;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.185);
}

.info {
    display: none;
}

.contato > a > img{
    border-radius: 10px;
    background-color: white;
    width: 35px;
    padding: 10px;
    margin: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.247);
}
.contato > img{
    border-radius: 10px;
    background-color: white;
    width: 35px;
    padding: 10px;
    margin: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.247);
}

img {
    width: 250px;
}